@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Noto sans', sans-serif;
  background-color: lightslategray;
  color: white;
}

.container{
  position: relative;
}

.clock{
  height: 400px;
  width: 400px;
  background-color: darkslateblue;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span{
  position: absolute;
  transform: rotate(calc(30deg*var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b{
  transform: rotate(calc(-30deg*var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before{
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.hands{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hands i {
  position: absolute;
  background: var(--clr);
  width: 5px;
  height: var(--h);
  border-radius: 70px;
}
